body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}
.calculator {
    background: #2c3e50;
    padding: 25px;
    border-radius: 12px;
}
input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    gap: 12px;
}
button {
    padding: 18px;        /* ⬆️ medium height */
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}
